.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.normal {
  color: white;
  background-color: #a8a878;
  text-align: center;
  width: 10%;
  padding: 0.5%;
  
}

.fighting {
  color: white;
  background-color: #c03028;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.flying {
  color: white;
  background-color: #a890f0;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.poison {
  color: white;
  background-color: #a040a0;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.ground {
  color: white;
  background-color: #e0c068;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.rock {
  color: white;
  background-color: #b8a038;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.bug {
  color: white;
  background-color: #a8b820;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.ghost {
  color: white;
  background-color: #705898;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.steel {
  color: white;
  background-color: #b8b8d0;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.fire {
  color: white;
  background-color: #f08030;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.water {
  color: white;
  background-color: #6890f0;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.grass {
  color: white;
  background-color: #78c850;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.electric {
  color: white;
  background-color: #f8d030;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.psychic {
  color: white;
  background-color: #f85888;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.ice {
  color: white;
  background-color: #98d8d8;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}

.dragon {
  color: white;
  background-color: #7038f8;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.dark {
  color: white;
  background-color: #705848;
  text-align: center;
  width: 10%;
  padding: 0.5%;
} 

.fairy {
  color: white;
  background-color: #ee99ac;
  text-align: center;
  width: 10%;
  padding: 0.5%;
}
